
.width-container {
    margin: 0 auto;
        width: 100vw;
        padding: 0 rem(5px);
        @include for-mobile-layout {
            padding: rem(10px);
        }
        @include for-normal-layout {
            width: $break-normal;
        }
}

.height-container {
    min-height: 100vh;
    margin-bottom: 20px;
    @include for-mobile-layout {
        margin-bottom: 80px;
    }
}

.loading-page {
    width: 70vw;
}