.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}
.fade-exit-done {
    opacity: 0;
}

// .slide-enter {
//     opacity: 0;
//     transform: scale(0.97) translateY(5px);
//     z-index: 1;
// }

// .slide-enter.slide-enter-active {
//     opacity: 1;
//     transform: scale(1) translateY(0);
//     transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms;
// }

// .slide-exit {
//     opacity: 1;
//     transform: scale(1) translateY(0);
// }

// .slide-exit.slide-exit-active {
//     opacity: 0;
//     transform: scale(0.97) translateY(5px);
//     transition: opacity 150ms linear, transform 150ms ease-out;
// }
// .slide-exit-done {
//     opacity: 0;
// }
