.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}
.fade-exit-done {
    opacity: 0;
}

//my-node is a working example from google
.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.note-item {
    &-enter {
        transform: rotateX(-90deg);
        &-active {
            transform: rotateX(0);
            transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
        }
    }

    &-exit {
        &-active {
            opacity: 0;
            transform: translateY(100px);
            transition: opacity 0.5s, transform 0.5s cubic-bezier(0.55, 0, 1, 0.45);
        }
    }
}

.slide-enter {
    opacity: 0;
    transform: scale(0.97) translateY(5px);
    z-index: 1;
}

.slide-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms;
}

.slide-exit {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.slide-exit-active {
    opacity: 0;
    transform: scale(0.97) translateY(5px);
    transition: opacity 150ms linear, transform 150ms ease-out;
}
.slide-exit-done {
    opacity: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(1px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-1px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(1px, 0, 0);
    }
}

@-webkit-keyframes rotateY {
    to {
        -webkit-transform: rotateY(360deg);
    }
}
@keyframes rotateY {
    to {
        transform: rotateY(360deg);
    }
}

@keyframes grow-shrink {
    25%,
    75% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-45deg);
    }
}

@keyframes unpin {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(0deg);
    }
}

// .alert-enter {
//     opacity: 0;
//     transform: scale(0.9);
//   }
//   .alert-enter-active {
//     opacity: 1;
//     transform: translateX(0);
//     transition: opacity 300ms, transform 300ms;
//   }
//   .alert-exit {
//     opacity: 1;
//   }
//   .alert-exit-active {
//     opacity: 0;
//     transform: scale(0.9);
//     transition: opacity 300ms, transform 300ms;
//   }
