// @font-face {
//     font-family: Montserrat;
//     src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
// }

// @font-face {
//     font-family: Sen;
//     src: url(~@/assets/fonts/Sen/Sen-Regular.ttf);
// }
