// COLOR PALETTE
$clr1: #343148FF;
$clr2: #D7C49EFF;
$clr3: #ffedb8;

$clr11: #014E56;
$clr12: #F67E7E;
$clr13: #ffffff;

$clr21: #79C8C7;
$clr22: #2C6269;
$clr23: #004047;
$clr24: #012F34;
$clr25: #002529;
// $clr4: #EAE6E5;
// $clr5: #8F8073;
// BOX-SHADOW
$shadow1: 0px 0px 1px 1px #00000026;
$shadow2: 0px 0px 3px 1px #00000026;
$shadow3: 0px 0px 4px 1px #00000026;
// LAYOUT BREAKPOINTS
$break-mini-mobile: 320px;
$break-medium-mobile: 440px;
$break-mobile: 680px;
$break-narrow: 820px;
$break-normal: 1080px;
$break-wide: 1200px;