.contact-preview {
display: flex;
justify-content: space-between;
align-items: center;
margin:10px;
    .add-friend-img{
        width: 2.4rem;
    }
    .user-name-container{
        display: flex;
        flex-direction: column;
    }
}