.contact-list {
    //change vh to % or something else but relative
    max-height: 80vh;
    overflow: scroll;
}

.swipe-container {
    .swipe-content-left {
        width: 50px;
        padding: 0 5px;
    }
    .swipe-content-right {
        width: 50px;
        padding: 0 5px;
    }
    .swipeable-list-item__content {
        background-color: unset;
    }
}

.add-friend-img {
    width: 2.4rem;
}