.input-todo {
    background-color:darken($clr-input, 5%) ;
    position: fixed;
    width: 85%;
    bottom: 2%;
    left: 8%;
    border-radius: 5%;

    .add-button{
        width: 30px;
        margin: 10px;
    }

    h5{
        margin-top:0.5rem
    }

    ul{
        padding: unset;
    }

  

    .input-header,
    .input-task {
        border: 1px solid transparent;
        border-radius: 5%;
        height: 60px;
        font-size: 18px;
        background-color: $clr-input;
    }

  
    .todo {
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    .add-todo-container {
       
        .add-button {
            cursor: pointer;
            max-width: 30px;
            position: absolute;
            right: 18%;
            top: 52%;

        }
    }

    .x-mark {
        cursor: pointer;
        width: 20px;
    }
}

// .input-todo {
//     background-color: red;
//     .input-header,
//     .input-task {
//         border: 1px solid transparent;
//         border-radius: 5%;
//         height: 60px;
//         font-size: 18px;
//         background-color: $clr-input;
//         width: 85%;
//         position: fixed;
//         // bottom: 2.5%;
//         left: 10%;
//     }

//     .input-header {
//         bottom: 25%;
//         // left: 10%;
//     }

//     .add-todo-container {

//         .input-task {
//             bottom: 12.5%;
//         }
//         .add-button {
//             position: fixed;
//             cursor: pointer;
//             max-width: 30px;
//             left: 85%;
//             bottom: 15%;

//         }
//     }

//     .x-mark {
//         width: 20px;
//     }
// }
