
    .input-video{
        background-color:rgba(255, 255, 255, 0.90);
        position: fixed;
        max-height: 77vh;
        width: 100%;
        bottom: 13%;
        overflow-y:scroll;

        input {
            border: 1px solid transparent;
            border-radius: 5%;
            height: 60px;
            font-size: 18px;
            background-color: $clr-input;
            width: 85%;
            position: fixed;
            bottom: 2.5%;
            left: 10%;
        }
        
        .video-card{
            display: flex;
            margin-bottom: 5px;
            padding: 5px;
            border-bottom: 1px solid lightsteelblue;
            justify-content: space-between;
            align-items: center;

            .add-button{
                max-width:30px;
                cursor: pointer;
            }

        }
    }
