.input-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 2.5%;
    left: 15.2%;
    width: 70%;
    background-color: darken($clr-input, 10%);
    border: 1px solid darken($clr-input, 20%);
    padding: rem(10px) 0px;

    @include for-normal-layout {
        width: 35%;
        left: 32.5%;
    }

    .cancel-wrapper {
        align-self: flex-end;
        margin: 0 rem(10px) rem(10px) 0;
    }

    input, textarea {
        border: 1px solid transparent;
        border-radius: 5%;
        height: 60px;
        font-size: 18px;
        background-color: $clr-input;
        width: 90%;
        margin-bottom: rem(10px);
    }

}


// .input-text {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     position: fixed;
//     bottom: 2.5%;
//     left: 10%;
//     width: 85%;
//     background-color: darken($clr-input, 50%);
//     border: 1px solid black;
//     input, textarea {
//         position: fixed;
//         border: 1px solid transparent;
//         border-radius: 5%;
//         height: 60px;
//         font-size: 18px;
//         background-color: $clr-input;
//         width: 60%;
//         &.input-header {
//             top: 50%;
//             // left: 7.5%;
//             // width: 88%;
//         }
//         &.input-data {
//             top: 70%;
//             // left: 7.5%;
//             // width: 88%;
//         }
//     }
//     i {
//         position: fixed;
//         top: 90%;
//     }
// }
