.input-text {
    input {
        border: 1px solid transparent;
        border-radius: 5%;
        height: 60px;
        font-size: 18px;
        background-color: $clr-input;
        width: 85%;
        position: fixed;
        bottom: 2.5%;
        left: 10%;
    }
}
