.main-nav {
    position: sticky;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    color: $clr-nav;
    background-color: yellow;
    transition: background-color 0.4s linear;
    height: rem(60px);
    display: flex;

    .nav-container {
        padding: 10px;
        width: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
                .notification-count-nav {
                    display: inline-block;
                    position: relative;
                    color: white;
                    border: 1px solid white;
                    border-radius: 50%;
                    font-size: 15px;
                    width: 25px;
                    height: 25px;
                    background-color: purple;
                    left: rem(129px);
                    top: rem(6px);


                    @include for-normal-layout {
                       display: none;
                    }
                }

        .logo-container {
            .logo {
                height: 40px;
                width: 40px;
            }
        }

        .link-list {
            position: fixed;
            width: 100%;
            height: 100%;
            padding: unset;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(5px);
            transform: translateX(100%);
            transition: transform 0.6s linear;
            list-style: none;
            margin: unset;
              display: flex;
                align-items: flex-end;
                padding: 10px;

            li {
                margin-bottom: rem(60px);

                .notification-count {
                    display: inline-block;
                    position: relative;
                    color: white;
                    border: 1px solid white;
                    border-radius: 50%;
                    font-size: 15px;
                    width: 25px;
                    height: 25px;
                    background-color: purple;


                    @include for-normal-layout {
                        padding: 1px;
                        left: 14px;
                        top: -12px;
                    }
                }
            }

            .link {
                text-transform: uppercase;
                border: 1px solid transparent;
                border-radius: 100px;
                padding: rem(2px) rem(10px);
                transition: color 0.4s linear, border-color 0.4s linear;

                @include hover-supported {
                    color: $clr21;
                    border-color: $clr21;
                }
                &.active {
                    color: $clr21;
                    border-color: $clr21;
                }
            }

            a.link{
                padding-right: 5px;
                color: white;
                font-weight: bold;
                letter-spacing: 3px;
                @include for-normal-layout {
                    color:#800080
                }
            }
            
        }

        .mobile-btn {
            transform: rotateZ(90deg);
            display: inline-block;
            cursor: pointer;
            font-size: rem(30px);
            z-index: 99;
            user-select: none;

            &::before,
            &::after {
                content: "|";
                display: inline-block;
                transition: transform 0.3s linear;
            }
        }

        [type="checkbox"]:checked + .mobile-btn {
            span {
                opacity: 0;
            }
            &::before {
                transform: translateX(10px) rotateZ(315deg);
            }
            &::after {
                transform: translateX(-5px) rotateZ(-315deg);
            }
        }
        [type="checkbox"]:checked.menu-open ~ .link-list {
            transform: translateX(0);
        }
        &.colored {
            background-color: yellow;
        }
    }
}

@include for-normal-layout {
    .main-nav {
        .nav-container {
            .link-list {

                position: initial;
                width: unset;
                height: unset;
                min-width: 40%;
                flex-direction: row;
                justify-content: space-between;
                background-color: transparent;
                transform: none;
              

                li {
                    margin-bottom: 0;
                    &:first-child {
                        display: none;
                    }
                }
            }

            .mobile-btn {
                display: none;
            }
        }
    }
}
