.active {
    border-bottom: 1.5px solid lightseagreen;
}

.main-navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: yellow;
    height: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .logo{
        height: 50px;
        width: 50px;
        position: absolute;
        margin-left: 5px;
        top: 5px;
    }

    .nav-count {
        position: absolute;
        top: 10%;
        left: 92%;
        z-index: 1001;
    }
}
