.active{
    border-bottom: 1.5px solid lightseagreen;
}

.NavBar{
    position: relative;
    background-color: yellow;
    height: 60px;

    .nav-count{
        position: absolute;
        top: 10%;
        left: 92%;
        z-index: 1001;
       }
}