.active{
    border-bottom: 1.5px solid lightseagreen;
}

.NavBar{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: yellow;
    height: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .logo{
        height: 80px;
        width: 80px;
        position: absolute;
        left: -3%;
    }


    .nav-count{
        position: absolute;
        top: 10%;
        left: 92%;
        z-index: 1001;
       }
}