.notification-friend {


    .btn {
        color: black;
        font-size: rem(14px);
        padding: rem(5px) rem(8px);
        @include hover-supported {
            color: white;
            transition: 0.3s;
        }
    }

    .approve{
        background-color: #28a745;
    }

    .decline{
        background-color: #dc3545;
    }
}
