.note-preview {
    max-width: 420px;

    h4 {
        text-align: start;
    }

    .remove-btn {
        cursor: pointer;
        width: 30px;
        align-self: flex-end;
        fill: white;//not working
        margin-left: 10px;

        &:hover {
            fill: white;//not working
            transition: 0.3s;//not working
            filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg) brightness(91%) contrast(135%);
        }
    }

    .edit-btn,
    .save-btn {
        cursor: pointer;
        width: 30px;
        align-self: flex-end;
        fill: white;//not working
        margin-left: 10px;

        &:hover {
            fill: white;//not working
            transition: 0.3s;//not working
            filter: invert(12%) sepia(83%) saturate(5841%) hue-rotate(244deg) brightness(87%) contrast(153%);
        }
    }

    p {
        margin: unset;
        text-align: start;
    }

    .note-header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .friend-container {
        display: flex;
        margin: 5px;
        .note-container {
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
            background-color: lightblue;
            border: 1px solid transparent;
            border-radius: 5px 20px 20px 5px;
            padding: 5px;
            margin: 5px;
        }
    }

    .user-container {
        margin: 5px;
        display: flex;
        flex-direction: row-reverse;
        .note-container {
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
            background-color: lightskyblue;
            border: 1px solid transparent;
            border-radius: 20px 5px 5px 20px;
            padding: 5px;
            margin: 5px;
        }
    }
}
