.note-todo {
    h4 {
        margin: unset;
    }

    li {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .edit-icon {
            width: 30px;
        }
    }

    ul{
        padding: unset;
    }
    .done {
        text-decoration: line-through;
    }
    .new-todo-btn, .add-todo-btn {
        cursor: pointer;
        width: 30px;
        &:hover {
            filter: invert(43%) sepia(96%) saturate(1237%) hue-rotate(88deg) brightness(128%) contrast(119%);
        }
    }
    .remove-todo-btn{
        cursor: pointer;
        width: 16px;
        margin-right: 7px;
        &:hover {
            filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg) brightness(91%) contrast(135%);
        }
    }
    .todo-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30px;
        margin: 5px 0 5px 0;
    }
}
