.note-preview {
    display: inline-block;
    max-width: 420px;

    
    h4 {
        text-align: start;
    }

    p {
        margin: unset;
        text-align: start;
    }

    .note-header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .friend-container {
        display: flex;
        margin: 5px;
        .note-container {
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
            background-color: lightblue;
            border: 1px solid transparent;
            border-radius: 5px 20px 20px 5px;
            padding: 5px;
            margin: 5px;
        }
    }

    .user-container {
        margin: 5px;
        display: flex;
        flex-direction: row-reverse;
        .note-container {
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
            background-color: lightskyblue;
            border: 1px solid transparent;
            border-radius: 20px 5px 5px 20px;
            padding: 5px;
            margin: 5px;
        }
    }
    &-appear {
        transform: scale(0.1);
    }
    &-appear-active {
        transform: scale(1);
        transition: transform 2s cubic-bezier(0.16, 1, 0.3, 1);
    }
    &-exit-active {
        transform: rotateY(90deg) rotateX(45deg);
        transition: transform 0.8s cubic-bezier(0.5, 0, 0.75, 0);
    }
}

.spread-view-item {
    display: inline-block;
}
