.circle-icon {
    cursor: pointer;
    width: 30px;
    margin:  0 3px 0 3px;
    stroke: black;
    stroke-width: 2%;
    @include hover-supported {
        stroke: white;
        transition: 0.3s;
    }
}
