.note-pin-icon {
    cursor: pointer;
    width: 30px;
    & .clr {
        fill: transparent;
    }
    @include hover-supported {
        animation: pin .3s forwards linear;
        .clr {
            transition: 0.3s;
        }
        .clr-1 {
            fill: #fb5252;
        }
        .clr-2 {
            fill: #f04141;
        }
        .clr-3 {
            fill: #ff4a3c;
        }
        .clr-4 {
            fill: #b1dbfc;
        }
        .clr-5 {
            fill: #dfebfa;
        }
    }
    &.pinned {
        transform: rotate(-45deg);
        .clr-1 {
            fill: #fb5252;
        }
        .clr-2 {
            fill: #f04141;
        }
        .clr-3 {
            fill: #ff4a3c;
        }
        .clr-4 {
            fill: #b1dbfc;
        }
        .clr-5 {
            fill: #dfebfa;
        }
        @include hover-supported {
            transition: 0.3s;
            animation: unpin .3s forwards linear;
            .clr {
                fill: transparent;
            }
        }
    }
}
