.save-icon {
    cursor: pointer;
    align-self: flex-end;
    width: 30px;
    margin-left: rem(10px);
    @include hover-supported {
        fill: #2e47fd;
        stroke: #2e47fd;
        transition: .3s;
    }
}
